/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-group {
  margin: 0 0 65px 10px !important;
  z-index: 1;
}

html,
body {
  height: 100%;
}

*:focus {
  outline: 0 !important;
}
*:visited {
  outline: none !important;
}

.mapboxgl-popup-content {
  border-radius: 10px;
  padding: 10px 20px;
}
.mapboxgl-popup-close-button {
  width: 10px;
  margin-right: 8px;
  padding: 0;
}

a:hover {
  color: #ff7701;
  cursor: pointer;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.7s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-400px);
  opacity: 0;
}

.cookie-consent p {
  color: black;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.btn-accept {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 12px;
}

.btn-accept:hover {
  color: #ff7701;
  background-color: black;
}

@media only screen and (max-width: 500px) {
  #image {
    padding-right: 10px;
  }
}

a {
  text-decoration: none !important;
}


.mapboxgl-popup-custom {
  padding-bottom: 26px;
}