/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  display: none !important;
}

html,body { height:100%; }

*:focus {
  outline: 0 !important
}
*:visited {
  outline: none !important;
}

.mapboxgl-popup-content {
  border-radius: 10px;
  padding: 10px 20px;
}
.mapboxgl-popup-close-button {
  width: 10px;
  margin-right: 8px;
  padding: 0;
}

a:hover {
  color: #FF7701;
  cursor: pointer;
}



/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .7s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-400px);
  opacity: 0;
}